    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="aboutMe"></div>
            </div>
            <div class="col-md-12 col-lg-6 py-5">
                <div class="media-content">
                    <h1 class="pb-3">My Story</h1>
                    <h3 class="pb-3">Creative Photography</h3>
                    <div>
                        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquid ipsam aut laborum fuga placeat aperiam vitae, asperiores illum. Sunt quasi eaque nemo, eligendi id inventore laboriosam corporis! Odio, sapiente.
                        Laudantium asperiores accusantium suscipit sequi. Dignissimos odit eius hic, aperiam totam quis fugit nisi similique est exercitationem neque tempora reiciendis, nihil quod? Distinctio recusandae doloremque dolor soluta quibusdam, quia ratione?</p>
                    </div>
                    <div class="btn btn-primary align-left">
                        <a href="" class="text-white">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>