<p style="color: green"><%= notice %></p>

<h1 class="m-5">Pictures</h1>

<div id="pictures">
  <div class="container">
    <div class="row">
      <% @pictures.each do |picture| %>
      <%= render picture %>
  
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Nueva Publicacion", new_picture_path, class: 'btn btn-dark' %>
